* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
body {
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Lilita One', sans-serif;
    display: flex;
    margin-left: 20px;
    min-height: calc(100vh - 20px);
    background-color: #91B1F5;
    background-image: url(../Images/fireplace.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: top center;
    font-size: 30px;
    color: #f50707;
    text-shadow: 5px 5px 8px #39AA40;
    
}

.images {
   
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}
.images img {
    position: absolute;
    top: 110px;
    left: 550px;
    max-width: 35%;
}
.check{
    position: fixed;
    padding-bottom: 20px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    accent-color: #39AA40;
}
.check :first-child{
    margin-bottom: 30px;
    
}
.check :nth-child(2){
    margin-bottom: 30px;

}
.check :nth-child(3){
    margin-bottom: 30px;
   
}
.check :last-child{
    margin-top: 30px;
  
}
 h1 { 
    box-sizing: border-box;
    position: relative;
    font-size: 100px;
    color: #f50707;
    text-shadow: 5px 5px 8px #39AA40;
    text-align: center;
   width: 100%;
   display: block;
   padding-bottom: 50px;
    margin-bottom: 200px;
}
#tree {
    display: none;
}#star {
    display: none;
}
#garland {
    display: none;
}
#lights {
    display: none;
}
#decorations {
    display: none;
}